.top-search {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
  z-index: 9;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.loading-cont {
  text-align: center;
  padding: 20px 0;
}

.title-page {
  h2 {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #192A3E;
  }
}

.container-search {
  margin: 0 auto;
  width: 90%;

  input {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color:#90A0B7;
    font-family: 'Poppins-Regular';
    width: 90%;

    &::placeholder {
      color:#90A0B7;
    }

    &:focus {
      outline: none;
    }
  }
  
  button {
    background: none;
    border:none;
    float: left;
    position: relative;
    margin-right: 5px;

    img {
      width: 20px;
    }

    &:focus {
      outline: none;
    }
  }
}

.container-list {
  margin: 80px auto;
  width: 50%;

  @media (max-width: 750px) {
    width: 80%;
  }

  .ant-list-item {
    padding: 10px 20px;

    button {
      background: none;
      border: none;
      font-family: 'Poppins-Regular';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #323C47;
      cursor: pointer;
    }

    &-meta {
      margin-bottom: 10px;

      &-title {
        margin-bottom: 0;
      }
    }
  }

  .wrap-item {
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);


    .img-list {
      width: 200px;
    }
  }
}

.ant-modal-body {
  h2 {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #192A3E;
  }

  .ant-descriptions-row > th {
    padding: 0;
  }

  .ant-descriptions-item-label {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #818E9B;
  }

  .ant-descriptions-item-content {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #323C47;
  }
}

.container-detail {
  margin: 30px;

  .img-detail {
    width: 100%;
  }
}